[Unit]
Description=Captures and uploads the image from attached webcam
After=network.target

[Service]
Type=oneshot
User=sentinel
RemainAfterExit=no
ExecStart=/usr/local/bin/sentinel \
--title eventually.house \
--resolution 1920x1080 \
--sftp-host {{ sftp_host }} \
--sftp-username {{ sftp_username }} \
--sftp-password {{ sftp_password }}

[Install]
WantedBy=multi-user.target
