[Unit]
Description=Triggers uploading of latest image to remote
After=network.target

[Service]
Type=oneshot
User=sentinel
RemainAfterExit=no
Environment="SFTP_HOST={{ sftp_host }}"
Environment="SFTP_USERNAME={{ sftp_username }}"
Environment="SFTP_PASSWORD={{ sftp_password }}"
ExecStart=/usr/local/bin/sentinel-upload

[Install]
WantedBy=multi-user.target
